</div>
<div class="row slide-in" >
  <div class="col-md-4" ></div>
  <div class="col-md-4" style="text-align: center;" >
    <a href="https://github.com/ekardnam" class="btn btn-default" target="_blank" ><span class="glyphicon glyphicon-menu-right" ></span> GitHub</a>
    <a href="https://twitter.com/ekardnam_" class="btn btn-default" target="_blank" ><span class="glyphicon glyphicon-menu-right" ></span> Twitter</a>
    <a href="https://t.me/ekardnam" class="btn btn-default" target="_blank" ><span class="glyphicon glyphicon-menu-right" ></span> Telegram</a>
    <a href="https://mastodon.bida.im/@ekardnam" class="btn btn-default" target="_blank" ><span class="glyphicon glyphicon-menu-right" ></span> Fediverse</a>
    <a href="https://ekardnam.github.io/pgp.txt" class="btn btn-default" target="_blank" ><span class="glyphicon glyphicon-menu-right" ></span> PGP</a>
  </div>
</div>

<hr />

<footer>
  <p>MIT License. Luca Bertozzi</p>
</footer>
