<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ekardnam - Luca Bertozzi</title>

	<link href="../css/bootstrap.min.css" rel="stylesheet">
    	<!--[if lt IE 9]>
     		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      	<![endif]-->

      	<link href="../css/my.css" rel="stylesheet" >
      	<link href="../css/code.css" rel="stylesheet" >
</head>
      <body class="grey" >
      	<div class="jumbotron green white-border" >
      		<div class="container">
      			<img class="img-circle logo" src="../logo.jpg"/>
      			<h1 id="animate" class="nick" ><span style="display: none;" >A</span></h1>
      			<h2 class="fade-in left name" >Luca Bertozzi</h2>
      		</div>
      	</div>

      	<div class="container" >

      		<h1>{{ post.title }}</h1>
      		<h3>by  {{post.author}} on {{post.date}}</h3>
      		<br/>
      		<a href="../index.html" >Back</a>
      		<br/><br/>

      		{{ post.content_html }}

      		{% include "footer.html" %}
      	</div>

            <script type="text/x-mathjax-config">
                  MathJax.Hub.Config({
                  config: ["MMLorHTML.js"],
                  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
                  extensions: ["MathMenu.js", "MathZoom.js"]
            });
            </script>

            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js"></script>

      	<script>
			//animation code
			var write = "ekardnam's blog";
			var h1 = document.getElementById("animate");
			var i = 0;
			var b = true;
			var animation = function() {
				if (i <= write.length) {
					h1.innerHTML = write.substring(0, i) + "_";
					i++;
					window.setTimeout(animation, 200);
				} else {
					if (b) {
						h1.innerHTML = write + "_";
					} else {
						h1.innerHTML = write;
					}
					b = !b;
					window.setTimeout(animation, 500)
				}
			}
			animation();
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="../js/bootstrap.min.js"></script>
	</body>
	</html>
